* {
    -fx-primary-color: #303F3F;
    -fx-secondary-color: #557b8a;
    -fx-tertiary-color: #a6a5a3;
    -fx-black-white: white;
}

.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: -fx-black-white;
}
.date-picker .cell {
    -fx-background-color: -fx-black-white;
}
.date-picker .cell:hover {
    -fx-background-color: -fx-secondary-color;
}
.date-picker .cell:focused {
    -fx-background-color: -fx-primary-color;
}
.date-picker .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-black-white;
}
.date-picker .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-black-white;
}
.date-picker-popup  {
    -fx-border-color: -fx-black-white;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: -fx-black-white;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: -fx-black-white;
}

Text {
    -fx-fill: #2b3336;
    -fx-font-size: 12pt;
}